$color1: rgb(224, 223, 229);
$color2: #1B1c1C;
$color2a: rgba(27, 28, 28,0.65);
$color3: #568A60;
$color-gray-borders: #b0acac;
$color-gray1: rgb(199, 198, 208);

$br-xs: 500px;
$br-sm: 800px;
$br-md: 1100px;
$mobileBreakpoint: $br-sm;

$font1: 'Montserrat', sans-serif;
$font2: 'Work Sans', sans-serif;

